@using GridBlazor.Pagination
@using EasyBudget.Common.DataAccess.Dtos
@using GridShared.Utility
@using DocumentFormat.OpenXml.Drawing.Charts
@using GridShared
@using GridShared.Pagination
@using GridShared.Totals
@using Microsoft.Extensions.Primitives

@if (true)
{
    <div class="list-view-container">
        <div class="list-view-table">
            <table>
                <tr>
                    <th>
                        <input type="checkbox" @onchange="eventArgs  => {MainCheckboxClicked(eventArgs.Value); }" >
                    </th>
                    <th>Назва</th>
                    <th>Ініціатор</th>
                    <th>Дата запиту</th>
                    <th>Відділ</th>
                </tr>
                @{
                    @for (int i = 0; i < ViewModel.BudgetRequests.Count; i++)
                    {
                        BudgetRequestRowViewModel budgetRequest = ViewModel.BudgetRequests[i];
                        <tr>
                            <td>
                                <input type="checkbox" @bind-value="budgetRequest.IsSelected"/>
                            </td>
                            <td>@budgetRequest.BudgetRequest.Name</td>
                            <td>@budgetRequest.BudgetRequest.RequesterName</td>
                            <td>@budgetRequest.BudgetRequest.DateRequested.ToString("d")</td>
                            <td>@budgetRequest.BudgetRequest.DepartmentName</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="list-view-bottom">
            <div class="list-view-combo">
                <span>Page</span>
            </div>
            <div class="list-view-buttons">
                <div class="common-button-div">
                    <button @onclick="OngoingListButtonClick">Button1</button>
                </div>
                <div class="common-button-div">
                    <button @onclick="ApproveCheckedListButtonCLick">Button2</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public IBudgetRequestListViewModel ViewModel { get; set; }

    private Task _task;
    private void OngoingListButtonClick()
    {

    }
    private void ApproveCheckedListButtonCLick()
    {

    }

    private void MainCheckboxClicked(object checkedValue)
    {
        if ((bool)checkedValue)
        {
            foreach (BudgetRequestRowViewModel row in ViewModel.BudgetRequests)
            {
                row.IsSelected = true;
            }
        }
        else
        {
            foreach (BudgetRequestRowViewModel row in ViewModel.BudgetRequests)
            {
                row.IsSelected = false;
            }
        }
        
    }
}
