@inject IInfoPanelViewModel InfoViewModel

<div class="info-container">
    <div class="info-names">
        <span>Логін: @InfoViewModel.UserInfo.Login</span>
        <span>Ім'я: @InfoViewModel.UserInfo.Name</span>
        </div>
    <div class="info-role">
        <span>Ви ввійшили з роллю:@InfoViewModel.UserInfo.CurrentRoleName</span>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        InfoViewModel.LoadData();
    }

}
