@page "/budgetRequest"
@inject IBudgetRequestListViewModel BudgetRequestListViewModel

<div>
    @{
        if (BudgetRequestListViewModel.BudgetRequestViewModel == null)
        {
            <BudgetRequestList ViewModel="@BudgetRequestListViewModel"></BudgetRequestList>
        }
        else
        {
            <BudgetRequestEntity ViewModel="@BudgetRequestListViewModel"></BudgetRequestEntity>
        }
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        BudgetRequestListViewModel.LoadData();
        await base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            BudgetRequestListViewModel.ComponentChanged += () => this.InvokeAsync(StateHasChanged);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
