@page "/budgetRequest"
@inject IBudgetRequestListViewModel BudgetRequestListViewModel
<div>
    @{
        if (IsListVisible)
        {
            <BudgetRequestList ViewModel="BudgetRequestListViewModel"></BudgetRequestList>
        }
        else
        {
            <BudgetRequestEntity ViewModel="BudgetRequestListViewModel"></BudgetRequestEntity>
        }
    }
</div>

@code {
    private bool IsListVisible { get; set; } = true;


    protected override async Task OnInitializedAsync()
    {
        BudgetRequestListViewModel.LoadData();   
        await base.OnInitializedAsync();
    }

}
