@page "/"
@using EasyBudget.Common.Business.Services
@using EasyBudget.Business.Services
@using System.Runtime.CompilerServices
@using DataAccess.Access
@using DataAccess.Queries
@using EasyBudget.Common.Model.Security
@using Unity

@inject IUserService UserService


<h1>Вхід до облікового запису</h1>

Логін:
<input @bind-value ="@login" type="text" >

<br>
Пароль:
<input @bind-value ="@password" type="password" />
<br>
<button class="btn btn-primary" @onclick="Login">Вхід</button>
<textarea readonly="readonly">@id</textarea>
@code {
    private string login;
    private string password;
    private Guid id;

    private void Login()
    {
        //UserService.AddUserByAdmin(Guid.Empty, new User()
        //{
        //    Id = Guid.NewGuid(),
        //    IsDisabled = false,
        //    Login = login,
        //    Name = "aaaa",
        //    Password = password,
        //    Roles = new List<Role>(),
        //    Unit = null
        //});
    }
}



