@inherits LayoutComponentBase

<div class="sidebar">
    <MyNavMenu/>
</div>

<div class="main-container">
    <div class="main-top">
        <InfoPanel></InfoPanel>
    </div>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

</div>

