.list-view-container {
    display: flex;
    flex-direction: column;
}
.list-view-top {
    display: flex;
    flex-direction: row;
}
.list-view-filters {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.list-view-filter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-view-table {
    padding: 10px;
    width: 80%;
}

.list-view-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list-view-combo {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.list-view-buttons {
    display: flex;
    justify-content: center;
    width: 60%;
}

.common-button-div {
    padding: 10px;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th:nth-child(2) {
   width: 30%;
   border: 1px solid black;
   border-collapse: collapse;
   padding: 10px;
   text-align: center;
}

.entity-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entity-view-existed {
    display: flex;
    flex-direction: column;
}

.entity-view-new {
    display: flex;
    flex-direction: column;
}

.entity-view-existed-top {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 50%;
    justify-content: space-between;
}

.entity-view-existed-main {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.entity-view-existed-bottom {

}

.entity-view-existed-main-name {
    text-align:center;
}

.entity-view-existed-main-users {

}

.entity-view-existed-main-dates {

}

.entity-view-existed-main-prices {

}

.entity-view-existed-main-info {

}
