.list-view-container {
    display: flex;
    flex-direction: column;
}
.list-view-top {
    display: flex;
    flex-direction: row;
}
.list-view-filters {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.list-view-filter {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.list-view-table {
    padding: 10px;
    width: 100%;
}

.list-view-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list-view-combo {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.list-view-buttons {
    display: flex;
    justify-content: center;
    width: 60%;
}

.common-button-icon-sort {
    font-size: 16px;
}

.common-button-div {
    padding: 10px;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th:nth-child(2) {
   width: 30%;
   padding: 10px;
   text-align: center;
}

th:nth-child(3) {
    width: 10%;
    padding: 10px;
    text-align: center;
}
th:nth-child(4) {
    width: 10%;
    padding: 10px;
    text-align: center;
}
th:nth-child(5) {
    width: 15%;
    padding: 10px;
    text-align: center;
}
th:nth-child(6) {
    width: 10%;
    padding: 10px;
    text-align: center;
}

.entity-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entity-view-existed {
    display: flex;
    flex-direction: column;
}

.entity-view-new {
    display: flex;
    flex-direction: column;
}

.entity-view-existed-top {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 50%;
    justify-content: space-between;
}

.entity-view-existed-main {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: large;
}

.entity-view-existed-bottom {

}

.entity-view-existed-main-name {
    text-align: center;
    padding: 10px;
}

.entity-view-existed-main-users {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.entity-view-existed-main-dates {
    text-align: center;
    padding: 5px;
}

.entity-view-existed-main-prices {
    text-align: center;
    padding: 5px;
}

.entity-view-existed-main-info {
    text-align: center;
    padding: 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-top {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    border: 2px black;
}

.info-names {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.info-role {
    padding: 5px;
}
